#reaction__container {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: var(--ui-bottom);
  right: 3rem;
  padding: 0.25rem;
  border-radius: 2rem;
  touch-action: manipulation;

  @media (max-width: 1023px) {
    right: 1rem;
    bottom: 0rem;
  }
}

.ui--disabled #reaction__container {
  display: none;
}

#reaction__container, .reactions--connected {
  display: flex;
}

.reaction__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  padding-right: 0.4rem;
  line-height: 3rem;
  will-change: text-shadow;
}

.reaction__button:last-child {
  padding-right: 0;
}

.reaction__button:hover {
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

.reaction {
  display: block;
  font-size: 3rem;
  position: absolute;
  pointer-events: none;
  right: 5rem;
  bottom: var(--ui-bottom);

  @media (max-width: 1023px) {
    right: 3rem;
  }
}

.reaction, .reaction--visible {
  animation: roll-out-blurred-top 2s ease-in 0s 1 normal both;
}
