#scanlines {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  opacity: .5;
  will-change: opacity;
  animation: opacity 3s linear infinite;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines .2s linear infinite;
  }
}

.animations--disabled #scanlines {
  display: none;
}

#video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: block;
}

#video__container iframe {
  position: fixed;
  top: -30vh;
  left: -30vw;
  width: 160vw;
  height: 160vh;
  opacity: 1;
}

#video__notice {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size--large);
  color: var(--color-white);
  font-family: "Jersey 10", sans-serif;
  pointer-events: none;
  will-change: text-shadow;
  animation: rgbText 5s steps(9) 0s infinite alternate;
  text-align: center;

  @media (max-width: 1023px) {
    font-size: var(--font-size--small);
  }
}

.animations--disabled #video__notice {
  animation: none;
}

.ui--disabled #video__notice {
  display: none;
}

#context__container {
  animation: rgbText 30s steps(9) 0s infinite alternate;
  color: var(--color-white);
  cursor: pointer;
  display: block;
  font-family: "Jersey 10", sans-serif;
  font-size: var(--font-size--xlarge);
  left: 3rem;
  position: fixed;
  top: 1rem;
  will-change: text-shadow;

  @media (max-width: 1023px) {
    left: 1rem;
    font-size: var(--font-size--large);
    line-height: var(--font-size--large);
  }
}

.animations--disabled #context__container {
  animation: none;
}

.ui--disabled #context__container {
  display: none;
}

#now-playing__container {
  position: fixed;
  bottom: var(--ui-bottom);
  left: 3rem;
  color: var(--color-white);
  font-family: "Jersey 10", sans-serif;
  line-height: 0.85;
  display: flex;
  flex-direction: column;
  will-change: text-shadow;
  animation: rgbText 20s steps(9) 0s infinite alternate;
  max-width: 60vw;

  @media (max-width: 1023px) {
    left: 1rem;
    bottom: 0rem;
  }
}

.animations--disabled #now-playing__container {
  animation: none;
}

.ui--disabled #now-playing__container {
  display: none;
}

#now-playing__super {
  font-size: var(--font-size--xsmall);
}

#now-playing__title {
  font-size: var(--font-size--large);

  @media (max-width: 1023px) {
    font-size: var(--font-size);
  }
}

#now-playing__subtitle {
  font-size: var(--font-size--small);
}

#report-content {
  background: none;
  border: none;
  color: var(--color-white);
  font-family: "Jersey 10", sans-serif;
  font-size: var(--font-size--xsmall);
  text-align: left;
  padding: 0.25rem 0;
  cursor: pointer;
  will-change: text-shadow;
  animation: rgbText 20s steps(9) 0s infinite alternate;
}

.animations--disabled #report-content {
  animation: none;
}
