@import url('animations.css');

:root {
  --body-background: #000000;
  --nav-background: #000000;
  --nav-font-size: 2rem;
  --ytv-brand-color: #d300ff;
  --font-size--xsmall: 1.3rem;
  --font-size--small: 2rem;
  --font-size: 3rem;
  --font-size--large: 4rem;
  --font-size--xlarge: 10rem;
  --color-white: #FFFFFF;
  --color-transparent-white: rgba(255,255,255,var(--ui-opacity));
  --ui-opacity: 0.7;
  --ui-bottom: 2rem;
}

*:not(dialog) {
  margin: 0;
}

body {
  background: var(--body-background);
}

main {
  overflow: hidden;
}

mobile-notice {
  align-items: center;
  animation: rgbText 5s steps(9) 0s infinite alternate;
  backdrop-filter: blur(70px);
  color: var(--color-white);
  display: none;
  flex-direction: column;
  font-family: "Jersey 10", sans-serif;
  font-size: var(--font-size);
  height: 100vh;
  justify-content: center;
  text-align: center;
  will-change: text-shadow;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  @media (orientation: portrait) {
    display: flex;
  }
}

mobile-notice > img {
  width: 80px;
}

nav {
  position: fixed;
  top: 1rem;
  right: 0;
  display: block;
  z-index: 2;

  @media (orientation: portrait) {
    display: none;
  }
}

.ui--disabled nav {
  display: none;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

nav > ul > li {
  display: block;
  float: left;
}

nav > ul> li > a {
  font-family: "Jersey 10", sans-serif;
  padding: 0 1rem;
  text-decoration: none;
  font-size: var(--nav-font-size);
  color: var(--color-white);
}

#logo {
  display: block;
  position: fixed;
  z-index: 0;
  right: 3rem;
  bottom: 5rem;
  opacity: var(--ui-opacity);

  @media (max-width: 1023px) {
    right: 1rem;
    bottom: 2rem;
  }
}

.ui--disabled #logo {
  bottom: var(--ui-bottom);
}

#logo > img {
  width: 80px;
}

.page--default {
  display: flex;
  flex-direction: column;
  background: black;
  color: #FFFFFF;
  padding: 5rem 10rem;
  min-height: 100vh;
}

.page--default > h1, h2 {
  font-family: "Jersey 10", sans-serif;
  text-align: center;
}

.page--default > h1 {
  font-size: var(--font-size--large);
  will-change: text-shadow;
  animation: rgbText 5s steps(9) 0s infinite alternate;
}

.page--default > h2 {
  font-size: var(--font-size--small);
}

.content_container {
  padding: 4rem;
}

.content_container > h3 {
  font-family: "Jersey 10", sans-serif;
  font-size: var(--font-size);
  will-change: text-shadow;
  animation: rgbText 5s steps(9) 0s infinite alternate;
}

table {
  margin-top: 3rem;
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  font-size: var(--font-size--small);

  @media (max-width: 1023px) {
    font-size: var(--font-size--xsmall);
  }
}

td {
  padding: 0.5rem;
}

a {
  will-change: text-shadow;
  color: var(--ytv-brand-color);
}

a:hover {
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

p {
  padding: 1rem 0;
  font-family: "Jersey 10", sans-serif;
  font-size: var(--font-size--small);

  @media (max-width: 1023px) {
    font-size: var(--font-size--xsmall);
  }
}
